:root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
  color: #333;
}

/* navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

.logo {
  color: #f1356d;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}

nav, a {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
}

.active {
  background: red;
  padding: .5em .4em;
  border-radius: .2em;
}

.home-blog-display h1 {
  margin: 1.2em 0;
}


/* blog list */

.bloglist-cover {
  border-bottom: 1px solid #f2f2f2;
  padding: 0 .5em;
  margin: .3em 0;

}

.bloglist-preview {
  display: grid;
  align-items: center;
  padding: .7em .3em;
}

.bloglist-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.bloglist-preview h1 {
  font-size: 1.3em;
  color: #f1356d;
  margin: 0;
}

.bloglist-preview p {
  margin: 0;
  font-size: 1em;
  padding: .3em 0;
}



/* blog details */

.blog-details {
  /* margin-top: 3em; */
  margin: auto;
  
}

.blog-details h2 {
  font-size: 1.8em;
  color: #f1356d;
  margin-bottom: .6em;
}

.blog-details p {
  font-size: 1.2em;
}

.blog-details div {
  margin: 1.3em 0;
  font-size: 1.3em;
}

.blog-details button {
  background: #f1356d;
  color: #fff;
  border: none;
  padding: .5em;
  border-radius: .5em;
  cursor: pointer;
  font-size: 1.1em;
}

.blog-details button:hover {
  background: #fff;
  color: #f1356d;
  border: .1em solid #f1356d;
}

/* newblog */

.newblog {
  padding-top: 2em;
  padding-left: auto;
  padding-right: auto;
}

.newblog h1 {
  color: #f1356d;
}

.newblog form {
  display: grid;
  gap: 1em;
  max-width: 600px;
  text-align: left;
  margin: auto;
}

.newblog label {
  display: grid;
  gap: 1em;
}

.newblog span {
  font-size: 1.3em;
}

.newblog input{
  padding: 1.1em;
}

.newblog button {
  background: #f1356d;
  padding: 1em 1.4em;
  margin: 1.5em auto;
  outline: none;
  border: 1px solid #f1356d;
  border-radius: .5em;
  color: #fff;
  font-size: .9em;
}

.newblog button:hover {
  color: #f1356d;
  background: #fff;
  border: 1px solid #f1356d;
}

.emptyfields-error {
  border: .1em solid red;
  background: #edbbca;
  padding: .6em;
}

.submit {
  border: .1em solid #736f6f;
  background: #b6b4b4;
  color: #ffffff;
  padding: .7em;
  text-align: center;
}

.delete {
  border: .1em solid #7f7b7b;
  background: #b6b4b4;
  color: #ffffff;
  padding: .7em;
  text-align: center;
  max-width: 10em;
}

.loader {

  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
}